doctype html
html(lang="ru")
	head
		title GulpDev
		link(rel="stylesheet", href="css/vendor.css")
		link(rel="stylesheet", href="css/all.css")
		meta(charset="utf-8")
		block head
	body
		block content
		script(src="js/vendor.js")
		script(src="js/all.js")