doctype html
html(lang="ru")
	head
		title GulpDev
		link(rel="stylesheet", href="styles/vendor.css")
		link(rel="stylesheet", href="styles/all.css")
		meta(charset="utf-8")
		block head
	body
		block content
		script(src="scripts/vendor.js")
		script(src="scripts/all.js")