doctype html
html(lang="ru")
	head
		title Крафтовая революция
		link(rel="stylesheet", href="css/vendor.css")
		link(rel="stylesheet", href="css/style.css")
		meta(charset="utf-8")
		block head
	body
		block content
		script(src="js/vendor.js")
		script(src="js/bundle.js")